body {
  color: rgb(0, 0, 0);
  font-size: huge;
  display: flex;
  flex-wrap: wrap;
}
th {
    border: 3px solid rgb(22, 2, 72);
    padding: 20px;
}

td {
    border: 1px solid rgb(173, 191, 219);
    padding: 5px 20px;
}
div.infos-principales{
    
    font-size : 50px;
    text-align: center;
    
}

table{
    table-layout: fixed;
    width: 70%;
}

.image{
    margin-bottom: 10px; 
}
div.infos-secondaires{
    text-align: center;
    margin-right : 0 ;
    width : 100%;
    word-wrap: break-word;
}
.bloc-infos{
    position : sticky;
    top : 6px;
    float : right;
    margin-right : 10%;
    width : 135px;
    text-align : center;
    
}
.image-head{
    margin-left : 20%;
      
}